#### Value Count Methods

In [2]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("CSV1.csv", index_col=None)
df
gender = []
for i in range(10):
    gender.append("Male")

gender[2] = "Female"


# Adding Gender Column to the Dataframe
df["Gender"] = gender

df

   S.NO             Name               Role  Id  Gender
0     1     Lokesh Singh            Trainer   1    Male
1     2    Diwakar Singh  Coder & Developer   2    Male
2     3    Sonali Kumari  Software Enginner   3  Female
3     4       Vimal Kant              UI/UX   4    Male
4     5  Aniket Shivahre          Developer   5    Male
5     6    Akshay Pathak       Army Officer   6    Male
6     7  Ritik Srivastav            Speaker   7    Male
7     8      Akash Singh  Fronted Developer   8    Male
8     9    Durgesh Singh        Copy Writer   9    Male
9    10   Prakash Pandey       Story Teller  10    Male

In [9]:
# Print the Number of data in any specific col
len(df["Name"])

# OR

df['Name'].count()

10

In [15]:
# Counting Gender Element by Category
df['Gender'].value_counts()

Gender
Male      9
Female    1
Name: count, dtype: int64